*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    min-width: 100%;
    min-height: 100vh;
    gap: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    position: absolute;   
    top: 1rem;
    left: 1rem;
    padding: .5rem;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.25rem;
}
.deletebtn{
    position: absolute;   
    top: 1rem;
    right: 1rem;
    padding: .5rem;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.25rem;
}
.note{
    margin-top: 4rem;
    height: 16rem;
    width: 16rem;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 15px;
}
.tool{
    height: 20%;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}
.tool i{
    cursor: pointer;
    font-size: 1.25rem;
}
.ta{
    font-family: cursive;
    height: 80%;
    width: 100%;
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    font-size: 1.5rem;
    padding: 1rem;
}
.ta:focus{
    outline: none;
    border: none;
}